.navbar {
  position: relative;
  display: block;
  background-color: red;
}

.navbar-header{
     color: black;
}
 
h1 {
  text-align: center;
}


.navbar-nav{
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 0px;
}

#special {
  color: black;
}

.text-center {
 margin-bottom: 30px;
}

#vic {
    color: black;
}